<nav id="side_navbar">
    <ul>
        <li><a>Food</a></li>
        <li><a>DIY and Crafts</a></li>
        <li><a>Home Decor</a></li>
        <li><a>Health and Fitness</a></li>
        <li><a>Sports</a></li>
        <li><a>Travel</a></li>
        <li><a>Technology</a></li>
        <li><a>Kids</a></li>
        <li><a>Entertainment</a></li>
        <li><a>Other</a></li>
      </ul>
</nav>