<nav id="side_navbar">
    <ul>
        <li><a class="side-category" >Food</a></li>
        <li><a class="side-category" >DIY and Crafts</a></li>
        <li><a class="side-category" >Home Decor</a></li>
        <li><a class="side-category" >Health and Fitness</a></li>
        <li><a class="side-category" >Sports</a></li>
        <li><a class="side-category" >Travel</a></li>
        <li><a class="side-category" >Technology</a></li>
        <li><a class="side-category" >Kids</a></li>
        <li><a class="side-category" >Entertainment</a></li>
        <li><a class="side-category" >Other</a></li>
      </ul>
</nav>
