<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Wall</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- app CSS -->
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App js -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <% include ./partials/_header %>
  
  <body>
      
    <section>
      <nav id="side_navbar">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
      
      <div>
        <h2>Categories</h2>
        <div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem Ipsum
                          "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                          
                          
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum quam eget nisl elementum congue. Ut ut felis massa. Aenean vitae volutpat ligula. Phasellus facilisis nisi non turpis placerat, eu tincidunt orci varius. Vivamus non quam tempus, pellentesque lectus a, interdum elit. In interdum risus non tortor elementum vehicula. Phasellus aliquet ipsum tellus, et interdum velit pretium ut. Maecenas posuere sem id justo ultrices, vel congue velit porta. Fusce justo augue, porta ac risus vel, finibus laoreet ipsum. Praesent vulputate metus ac libero molestie molestie. Morbi nec orci erat. Etiam convallis purus nec ante maximus, vel vehicula leo aliquam. Nunc suscipit ipsum sit amet leo porttitor pretium. Maecenas at eros iaculis nunc molestie commodo rutrum eget purus. Nam quis metus feugiat, ornare urna eget, mattis erat. Cras eu iaculis lectus, sed semper elit.
                          
                          Morbi vitae leo nec quam ultricies lobortis. Nunc feugiat et nunc sed sagittis. Integer fermentum nulla vel feugiat congue. Suspendisse ac tortor venenatis, pellentesque sapien nec, accumsan risus. Mauris gravida volutpat augue nec posuere. In hac habitasse platea dictumst. Aliquam aliquam dolor vel elementum viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque dictum dui dui, nec pulvinar ligula viverra quis. Quisque id vestibulum tellus. Nam aliquam nisl at mollis pretium. Aliquam ullamcorper magna vel eros aliquam, id tincidunt eros ultrices.
                          
                          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sit amet tristique tortor. Sed eu consequat enim. Proin ut felis ligula. Nunc sit amet dapibus lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam ac accumsan nibh, et ultricies lectus. Morbi ac consectetur felis, ac tincidunt nulla. Nunc nec libero a libero dapibus scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis eu enim sed odio semper mattis. Maecenas est metus, tempor eu dui et, porta rutrum elit.
                          
                          Duis sit amet pretium nisi, a sagittis odio. Integer non accumsan diam. Mauris porttitor quam sed urna aliquam, vel dapibus turpis consequat. Aenean nec iaculis magna. Fusce tortor lacus, luctus non auctor nec, convallis sit amet arcu. Sed eros velit, accumsan eu vulputate id, vehicula in nibh. Aenean placerat urna in neque mollis, et dapibus mi tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris tincidunt aliquet ligula, vitae tincidunt justo condimentum sollicitudin. Mauris vel sem bibendum, ornare quam at, vestibulum ligula. Sed laoreet sollicitudin semper.
                          
                          Morbi eu massa commodo, facilisis justo non, interdum nibh. Quisque pharetra ut arcu non cursus. Donec leo mauris, feugiat sed elit vel, varius blandit dui. Aliquam eu quam nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam rutrum id nibh in tristique. Curabitur in velit ut ipsum posuere efficitur. Suspendisse potenti. Donec porta odio lectus. Etiam sit amet pharetra sem.
                          
                          Generated 5 paragraphs, 473 words, 3156 bytes of Lorem Ipsum</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>

    <% include ./partials/_footer %>
  
  </body>
</html>