<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_headerRL %>

  <body>

      <div>
          <form method="POST" action="/login">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="example@gmail.com">
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="password">
            <button type="submit" class="button">Login</button>
          </form>
          <form method="GET" action="/user">
                <button type="submit" class="button">Register</button>
          </form>
      </div>

      <% include ./partials/_footer %>

  </body>
</html>
