<!DOCTYPE html>
<html lang="en">

  <% include ./Partials/_headerL %>

  <body>
    <section id="contain-resources">
      <div id="my-resources" class="justify-content-center d-flex align-items-center">
        <img src="/images/logo/rw_logo2.png">
      </div>
      <div id="liked-resources" class="justify-content-center d-flex align-items-center">
        <div class="card text-center bg-secondary" style="min-width: 33rem">
          <div class="card-header"><h3>Log into your account</h3></div>
          <div class="card-body">
            <form method="POST" action="/login">
              <input type="email" class="form-control mr-lg-5 my-5 my-sm-3" name="email" aria-describedby="emailHelp" placeholder="email">
              <input type="password" class="form-control mr-sm-2 my-2 my-sm-3" name="password" placeholder="password">
              <button type="submit" class="form-control btn btn-primary my-2 my-sm-0">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>

  <% include ./Partials/_footer %>

</html>
