<!DOCTYPE html>
<html lang="en">

  <% include ./Partials/_header %>

  <body>

    <section class="cards-container-show" id="contain-resources">
      <div id="register" class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 28rem;">
          <img class="card-img-top" src="/images/kids.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>

    <% include ./Partials/_footer %>

  </body>
</html>
