<!DOCTYPE html>
<html lang="en">

    <% include ./partials/_header %>    
    
    <body>
    <section>
        <div class="new_resource">
           <form action="POST" method="">
               <h3>New post</h3>
               <label for="URL">URL</label>
               <input type="url" name="url" placeholder="http://www.google.com">
               <label for="title">Title</label>
               <input type="text" name="title" placeholder="Post title">
               <label for="textarea">Description</label>
               <textarea name="description" id="description_text"></textarea>
           </form>
       </div>
    </section>

    <% include ./partials/_footer %>    

  </body>
</html>