  <!DOCTYPE html>
<html lang="en">


    <body>
    <% include ./Partials/_header %>
    <section id="contain-resources">
        <div id="new-resources" class="justify-content-center d-flex align-items-center">
            <div class="card text-center bg-white" style="min-width: 33rem">
            <div class="card-header"><h3>Create a new resource</h3></div>
                <div class="card-body">
                    <form method="POST" action="/resources/new">
                        <input type="url" class="form-control mr-lg-5 my-5 my-sm-3" name="url" placeholder="New resource URL">
                        <div class="form-group">
                            <label id="category-menu" for="category">Select catergory from list</label>
                            <select name="category" class="form-control" id="category">
                                <option value='1'>DIY and Crafts</option>
                                <option value='2'>Health and Fitness</option>
                                <option value='3'>Food and Dining</option>
                                <option value='4'>Home Decor</option>
                                <option value='5'>Kids</option>
                                <option value='6'>Entertainment</option>
                                <option value='7'>Other</option>
                                <option value='8'>Sports</option>
                                <option value='9'>Technology</option>
                                <option value='10'>Travel</option>
                            </select>
                        </div>
                        <input type="text" class="form-control mr-sm-2 my-2 my-sm-3" name="title" placeholder="Resource title">
                        <textarea name="description" class="form-control mr-sm-2 my-2 my-sm-3" id="description_text" placeholder="Resource description"></textarea>
                        <button type="submit" class="form-control btn btn-outline-info my-2 my-sm-0">Create resource</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <% include ./Partials/_footer %>

    </body>
</html>
