<!DOCTYPE html>
<html lang="en">

	<% include ./Partials/_header %>

  	<body>
		  <section id="contain-resources">
			  <div id="my-resources">
				<img id="background-logo1" src="/images/logo/rw_logo3.png">
				  <h2>My Resources</h2>
			  </div>
			  <div id="liked-resources">
				  <img id="background-logo2" src="/images/logo/rw_logo3.png">
				  <h2>Liked Resources</h2>
			  </div>
		  </section>

    <% include ./Partials/_footer%>

  	</body>
</html>
