<!DOCTYPE html>
<html lang="en">

	<% include ./partials/_header %> 

  	<body>
		  <section id="contain-resources">
			  <div id="my-resources">
				  <h2>My Resources</h2>
			  </div>
			  <div id="liked-resources">
				  <h2>Liked Resources</h2>
			  </div>
		  </section>
		  
    <% include ./partials/_footer%>

  	</body>
</html>