$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;
$color8: #cd7f32;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Merriweather', serif;

.card {
  z-index: 1;
  margin: 5px;
  .card-title {
    border-bottom: 1px solid;
  }
  .ranking-likes {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .2rem;
    padding-top: 5px;
    align-items: baseline;
  }
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    max-height: 190px;
  }
  .btn-outline-info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0px 0px 43px 17px;
    height: 30px;
    width: 252px;
  }
  .fas {
    margin-left: 10px;
    margin-right: auto;
    height: fit-content;
  }
  p {
    margin-top: 0;
    margin-bottom: 1.8rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .p-cards {
    margin: 0px 6px 5px 0px;
    padding: 4px;
  }
}

.card-comments {
  margin: 5px;

  .ranking-likes {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 10px;
  }
}


section.cards-container {
  display: flex;
  flex-direction: row;
  margin-left: 220px;
  flex-wrap: wrap;
}

section.cards-container-show {
  display: flex;
  display: relative;
  flex-direction: row;
  flex-wrap: wrap;
}