$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;
$color8: #cd7f32;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Merriweather', serif;

.card {
  z-index: 1;
  margin: 5px;
  .card-title {
    border-bottom: 1px solid;
  }
  .ranking-likes {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .2rem;
    padding-top: 5px;
    align-items: baseline;
  }
  .btn-primary {
      color: #fff;
      background-color: #116466;
      border-color: #116466;
      position: relative;
      justify-content: center;
  }
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    max-height: 370px;
  }
}

#like-button {
  position: absolute;
  left: 0;
  width: 150px;
  bottom: 0;
  margin: 0px 137px 10px 10px;
}

#rate-btn {
  position: absolute;
  right: 0;
  width: 115px;
  bottom: 0;
  margin: 0px 10px 10px 10px;
}

#resource-link {
  position: absolute;
  width: 200px;
  bottom: 0;
  margin: 0px 10px 10px 151px;
}

#rating {
  position: absolute;
  height: 30px;
  width: 36;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 0px 130.4px 10px 10px;
  opacity: .8;
  color: hsl(30, 61%, 50%);
  border-color: hsl(30, 61%, 50%);
}

#div-like {
  margin: 0;
  border-top: 2px solid hsla(0, 0%, 0%, 0.1);
}

#likeCount {
  margin-bottom: 4px;
}

#ratings-count {
  position: absolute;
  margin: 0px 0px 4px 402px;
}

.card-comments {
  margin: 5px;

  .ranking-likes {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 10px;
  }
}

section.cards-container {
  display: flex;
  flex-direction: row;
  margin-left: 220px;
  flex-wrap: wrap;
}

section.cards-container-show {
  display: flex;
  display: relative;
  flex-direction: row;
  flex-wrap: wrap;
}