.card {
  margin: 5px;

  .ranking-likes {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 10px;
  }
}
