.card {
  margin: 5px;

  .ranking-likes {
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 10px;
  }
}


section.cards-container {
  display: flex;
  flex-direction: row;
  margin-left: 220px;
  flex-wrap: wrap;
}

section.cards-container-show {
  display: flex;
  display: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .navbar-brand { display: none }
  .navbar-brand.mobile { display: block; margin-bottom: auto; font-size: 2.4em }
  .card { margin-top: 200px }
  #btns-navbar1  {margin-left: auto }
  #btns-navbar2  {margin-left: .4em }
}