$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Permanent Marker', sans-serif;

footer.navbar p {
    margin: auto;
    padding: 5px 0px 5px 0px;
}

footer.navbar {
    z-index: 5;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
