$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

section.cards-container {
  display: flex;
  flex-direction: row;
}

.item {
  align-self: flex-start;
  padding: 30px 0px 30px 230px;
}