a.navbar-brand {
    font-size: 1.7rem;
    padding: 0;
    font: $style-font;
}

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 6;
    flex-wrap: inherit;
}

.form-inline {
    margin-left: auto;
}