$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;
$color8: #cd7f32;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Merriweather', serif;

#background-logo4 {
  z-index: -1;
  opacity: 0.3;
  min-width: 100%;
  min-height: 100%;
  top: -80px;
  position: fixed;
}

section.contain-resources {
  overflow: hidden;
  position: relative;
  width: 100%;

}

div#register {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  // background-color: $color6; 
}


div#register1 {
  height: 100%;
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
  // background-color: $color6;
}

div#register2 {
  height: 100%;
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
  // background-color: $color6;
}

div#register3 {
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 80px;
  right: 0;
  top: 0;
  // background-color: $color6;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  div#register {
    width: 100%;
    height: auto;
  }
}

#slog {
  display: inline-table;
  font-style: italic;
  font-size: 3em;
}

label {
  color: beige;
}