$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Permanent Marker', sans-serif;

section.contain-resources {
    overflow: hidden;
    position: relative;
    width: 100%;
}

div#new-resources {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $color1;
}

#category-menu {
    font-size: 1em;
    color: black;
    float: left;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
div#new-resources {
        width: 100%;
        height: auto;
    }
}