#side_navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #116466;
    overflow-x: hidden;
    padding-top: 20px;
    list-style-type: none;
  }
  
   #side_navbar ul {
	list-style-type: none;
    padding: 0;
  }
  
  #side_navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #ffcb9a;
    display: block;
  }
  
  #side_navbar a:hover {
    color: #d9b08c;
  }

@media screen and (max-height: 450px) {
	#side_navbar {
    	display: none;
	}
}