$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;
$color8: #cd7f32;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Merriweather', serif;

#side_navbar {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #116466;
    overflow-x: hidden;
    list-style-type: none;
  }

   #side_navbar ul {
	list-style-type: none;
    margin-top: 44px;
    padding-left: 20px;
  }

  #side_navbar a {
    padding: 6px 8px 6px 1px;
    text-decoration: none;
    font-size: 18px;
    color: $color5;
    display: block;
    cursor: pointer;
  }

  #side_navbar a:hover {
    color: #d9b08c;
  }

@media screen and (max-height: 340px) {
	#side_navbar {
    	display: none;
	}
}
