$color1: #2c3531;
$color2: #116466;
$color3: #d9b08c;
$color4: #ffcb9a;
$color5: #d1e8e2;
$color6: #eac67a;
$color7: #E9B000;
$color8: #cd7f32;

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$main-font: 'Vollkorn', sans-serif;
$style-font: 'Merriweather', serif;

#background-logo1 {
  opacity: 0.1;
  z-index: -1;
  position: absolute;
}

#background-logo2 {
  opacity: 0.1;
  z-index: -1;
  position: absolute;
}
section.contain-resources {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  div#my-resources {
    // background-image: url("/images/logo/rw_logo3.png");
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  div#liked-resources {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    justify-content: center;
  }

  div#my-resources h2,
  div#liked-resources h2 {
    float: initial;
    padding: 5rem;
    text-align: -webkit-center;
    width: 100%;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    div#my-resources, div#liked-resources {
      width: 100%;
      height: auto;
    }
  }
